<mat-form-field class="input-field">
  <mat-label>{{controlNode.attributes.displayName}}</mat-label>
  <input [type]="controlNode.attributes.type" matInput [(ngModel)]="data[controlNode.attributes.propertyKey]">
</mat-form-field>
