.config-group-tree ul,
.config-group-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.config-node {
  cursor: pointer;
  white-space: nowrap;
  min-height: 28px;

  &:hover {
    background: rgba(0, 0, 0, .04);
  }

  .config-node-icon {
    padding: 0 10px;
  }
}

.config-group-tree ul {
  padding-inline-start: 8px;
}
.config-group-tree {
  height: 100%;
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 10px;

    * {
      background: transparent;
    }

  }

  &::-webkit-scrollbar-thumb{
    background: gray;
  }
}
