<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="config-group-tree">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodeToggle matTreeNodePaddingIndent="10"
                 class="config-node" mat-ripple
                 (click)="node.treeNode.isConfig? configOpen.emit(node.treeNode.fullIdentifier):null">
    <mat-icon class="config-node-icon">
      {{node.treeNode.type == 'group' || node.treeNode.type == 'multi' ? 'folder_open' : 'description'}}
    </mat-icon>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="10"
                 class="config-node" mat-ripple matTreeNodeToggle>
    <mat-icon class="config-node-icon">
      {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
    </mat-icon>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
