<!--<mat-form-field>-->
<!--  <mat-label>{{controlNode.attributes.displayName}}</mat-label>-->
<!--  <mat-select>-->
<!--    <mat-option *ngFor="let option of controlNode.attributes.options | keyvalue" [value]="option.key">-->
<!--      {{option.value}}-->
<!--    </mat-option>-->
<!--  </mat-select>-->
<!--</mat-form-field>-->

<ng-select [items]="controlNode.attributes.options | keyvalue"
           [placeholder]="controlNode.attributes.displayName"
           [virtualScroll]="true"
           bindLabel="value"
           bindValue="key"
           autofocus
           [(ngModel)]="data[controlNode.attributes.propertyKey]">
</ng-select>
