<ng-container *ngFor="let node of controlNode.children">
  <app-config-control-node [controlNode]="node"
                           [data]="node.attributes.propertyKey == null? data : data[controlNode.attributes.propertyKey]">

  </app-config-control-node>
</ng-container>
