:host {
  height: 100%;
}

.editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 12px 24px;
  box-sizing: border-box;
}

.source-editor-container {
  flex-grow: 1;
}

.source-editor {
  height: 100%;
  width: 100%;
}

.editor-tools-row {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
