<div class="editor-container">
  <div class="editor-tools-row">
    <mat-slide-toggle (change)="toggleSource($event)">Show source</mat-slide-toggle>
  </div>
  <div *ngIf="config && !showSource" class="config-fields-container">
    <app-config-control-node [controlNode]="config.controlRoot" [data]="config">

    </app-config-control-node>
  </div>
  <div *ngIf="config && showSource" class="source-editor-container">
    <ngx-monaco-editor class="source-editor" [options]="editorOptions" [(ngModel)]="sourceCode"></ngx-monaco-editor>
  </div>
</div>

