<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{controlNode.attributes.displayName}}
    </mat-panel-title>
    <mat-panel-description>
      {{controlNode.attributes.description}}
    </mat-panel-description>
  </mat-expansion-panel-header>

  <app-config-control-node *ngFor="let node of controlNode.children" [controlNode]="node"
                           [data]="node.attributes.propertyKey == null? data : data">

  </app-config-control-node>
</mat-expansion-panel>
