<!--<app-config-control-node-children [data]="data" [controlNode]="controlNode">-->

<!--</app-config-control-node-children>-->
<app-config-control-node *ngFor="let node of controlNode.children" [controlNode]="node"
                         [data]="node.attributes.propertyKey == null? data : data[controlNode.attributes.propertyKey]">

</app-config-control-node>
