<as-split unit="percent" direction="horizontal" gutterSize="5">
  <as-split-area size="30">

    <app-config-tree-navigation [tree]="configTree" (configOpen)="openConfig($event)"></app-config-tree-navigation>

  </as-split-area>
  <as-split-area size="70">

    <mat-tab-group [selectedIndex]="focusingTabIndex"
                   (selectedIndexChange)="focusingTabIndex = $event" class="config-tab-group">
      <mat-tab *ngFor="let tab of openedConfigTabs; let index = index" [label]="tab.configFullIdentifier">
        <app-config-editor [config]="tab.config"></app-config-editor>
      </mat-tab>
    </mat-tab-group>

  </as-split-area>
</as-split>
