<div class="main-frame">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Reactant Desk</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="0">
    <mat-sidenav #snav mode="side" fixedTopGap="56" [(opened)]="snavOpened">
      <mat-nav-list>
        <a mat-list-item routerLink="config" (click)="snavOpened = !snavOpened">Configs</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item routerLink="profiler" (click)="snavOpened = !snavOpened">Profiler</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="content-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

