.main-frame {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.sidenav-container {
  flex: 1 1;
}

mat-sidenav {
  width: 250px;
}

.content-container {
  padding: 12px 24px;
  box-sizing: border-box;
}
