<div>
  <div >
    <div style="display: block; height:400px;position:relative;" [style.width.%]="width" (wheel)="scroll($event)">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</div>
