<mat-form-field class="textarea-field">
  <mat-label>{{controlNode.attributes.displayName}}</mat-label>
  <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="3" cdkAutosizeMaxRows="8"
            [(ngModel)]="data[controlNode.attributes.propertyKey]"></textarea>
</mat-form-field>
